
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&family=Alegreya+Sans+SC&family=Bebas+Neue&family=Cinzel&family=Concert+One&family=Dancing+Script&family=Explora&family=Great+Vibes&family=Kanit:wght@100&family=Mitr&family=My+Soul&family=Noto+Sans+KR:wght@100&family=Orbitron&family=Pacifico&family=Poppins:wght@500&family=Prompt:ital,wght@1,300&family=Sevillana&family=Spectral+SC&family=Tilt+Prism&display=swap');
/*
font-family: 'Aboreto', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Cinzel', serif;
font-family: 'Explora', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'My Soul', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Sevillana', cursive;
font-family: 'Spectral SC', serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Mitr', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Dancing Script', cursive;
*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}
body{
   background: black;
}
img{
}
.login-form{
    display:block;
    position: absolute;
    top: 150px;
    left: 900px;
    place-items: center;
    background: transparent;
  }
  .login-form:hover{
  
  }
  .login-form i{
    cursor: pointer;
    text-align: center;
  width: 20px;
    background: #8000c5;
    top: -32px;
    padding: 0.1rem 0.2rem;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    left: 323px;
  }
  .login-form form{
margin-top: 1rem;
    position: relative;
    padding: 1.5rem 5rem;
    border: 0.1px solid ;
    border-radius: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px 3px rgba(255, 0, 0, 0.3);
  }
  .login-form h1{
    text-align: center;
 
    font-family: 'Prompt', sans-serif;
  }
  .login-form input:focus{
   padding-left: 1rem;
   font-size: 0.7rem;
   border: 0.1px solid #6D9588;;
  }
  .login-form input{
    padding: 0 1rem;
    display: block;
    
    border:0.2px solid rgb(255, 0, 0);
    outline: none;
  margin: 1rem 0;
  background: transparent;
  border-radius: 3px;
  height: 42px;
  width: 280px;
  }
  ::placeholder{
    font-weight: bold;
    color: #ff0000;
  }
  .login-form .submit{
   width: 180px;
   margin-left: 2.8rem;
  text-align: center;
   border-radius: 7px;
    padding: 0.7rem 4rem;
    background: #ff0000;
    color: rgb(43, 43, 43);
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: all 0.8s ease-in;
  }
  .submit:hover{
    color: #ff0000;
    background: white;
    border:0.2px solid rgb(255, 255, 255);
  }
  .password{
    color: #fbf4ff;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
  }
  .password a{
    font-weight: bold;
    text-decoration: none;
    color:#ff0000;
  }
  .login-form h1{
    letter-spacing: 3px;
    text-align: center;
    color: #ff0000;
    font-size: 2.5rem;
    font-family:  sans-serif;
  }
  .btn{
    text-align: center;
    margin-top: 2rem;
    margin-right: 3rem;
  }
  .btn a{
    text-decoration: none;
    border:0.1px solid #fbf4ff;
    background: transparent;
    color: #fbf4ff;
  }